<div class="d-flex justify-content-center" style="margin-top: 10px">
  <div class="d-flex justify-content-center col-12" style="height:70px">

    <div class="col-11 d-flex flex-column justify-content-center">
      <div style="height: 50px">
        <mat-form-field>
          <input matInput [(ngModel)]="filtreRecherche" placeholder="Rechercher"
                 [matAutocomplete]="auto" [formControl]="myControl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of searchResult" [value]="item">
              {{ item }}
            </mat-option>

          </mat-autocomplete>
        </mat-form-field>
                <mat-form-field>
                  <mat-select [(value)]="filtreRegion" placeholder="Filtrer par région :" (valueChange)="refreshData(0,15)">
                    <mat-option value="">Aucun</mat-option>
                    <mat-option value="Rabat">Rabat</mat-option>
                    <mat-option value="Casablanca">Casablanca</mat-option>
                    <mat-option value="Tanger">Tanger</mat-option>
                    <mat-option value="Agadir">Agadir</mat-option>
                    <mat-option value="Meknes">Meknes</mat-option>
                    <mat-option value="Marrakech">Marrakech</mat-option>
                  </mat-select>
                </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="filtreTypologie" placeholder="Filtrer par typologie" (valueChange)="refreshData(0,15)">
            <mat-option value="">Aucun</mat-option>
            <mat-option value="RT">RoofTop</mat-option>
            <mat-option value="Lampadaire">Lampadaire</mat-option>
            <mat-option value="Lampadaire Esth">Lampadaire Esth</mat-option>
            <mat-option value="GF">GreenField</mat-option>
            <mat-option value="Palmier">Palmier</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="filtreCw" placeholder="Filtrer etat CW" (valueChange)="refreshData(0,15)">
            <mat-option value="">Aucun</mat-option>
            <mat-option value="encours">En cours</mat-option>
            <mat-option value="Livré">Livré</mat-option>
            <mat-option value="XX">Bloqué</mat-option>
            <mat-option value="Tempo">Temporisé</mat-option>
            <mat-option value="ZZ">CW non SBI</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="filtreElec" placeholder="Filtrer etat Elec" (valueChange)="refreshData(0,10)">
            <mat-option value="">Aucun</mat-option>
            <mat-option value="encours">En cours</mat-option>
            <mat-option value="Electrifié">Electrifié</mat-option>
            <mat-option value="XX">Bloqué</mat-option>
            <mat-option value="Tempo">Temporisé</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-button-toggle-group #group="matButtonToggleGroup" style="margin-left: 60px">
          <mat-button-toggle (mouseup)="cliqueSuivi()"    [checked]="true">Suivi</mat-button-toggle>
          <mat-button-toggle (mouseup)="cliqueDates()">Dates</mat-button-toggle>
          <mat-button-toggle (mouseup)="cliqueTravaux()">Travaux</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="col-12">
    <div style="overflow: scroll;max-height: 450px;min-height: 450px;">


      <table matSort class="table table-hover table-striped table-sm" (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="codeSite">Code site</th>
          <th mat-sort-header="elec.elecEtat">Etat Elec</th>
          <th *ngIf="suivi" mat-sort-header="dateGo">Date Go</th>
          <th *ngIf="suivi" mat-sort-header="typologie">Typologie</th>

          <th *ngIf="suivi" mat-sort-header="elec.regie">Régie</th>
          <th *ngIf="suivi" mat-sort-header="elec.numDossier">N Dossier</th>
          <th *ngIf="suivi" mat-sort-header="cw.etatCw">Etat CW</th>

          <th *ngIf="suivi" mat-sort-header="cw.finCw">Fin Cw</th>
          <th *ngIf="date" mat-sort-header="elec.depotDemande">Demande</th>
          <th *ngIf="date" mat-sort-header="elec.etude">etude</th>
          <th *ngIf="date" mat-sort-header="elec.devis">Devis</th>
          <th *ngIf="date" mat-sort-header="elec.payementDevis">Payement</th>
          <th *ngIf="date" mat-sort-header="elec.autorisation">Autorisation</th>
          <th *ngIf="date" mat-sort-header="elec.debutTravaux">Début trav</th>
          <th *ngIf="date" mat-sort-header="elec.finTravaux">Fin trav</th>
          <th *ngIf="date" mat-sort-header="elec.reception">Réception</th>
          <th *ngIf="date" mat-sort-header="elec.abonnement">Abonnement</th>
          <th *ngIf="trav" mat-sort-header="elec.elecTrav.btA">BT A</th>
          <th *ngIf="trav" mat-sort-header="elec.elecTrav.BtS">BT S</th>
          <th *ngIf="trav" mat-sort-header="elec.elecTrav.BtSRf">BT Refection</th>
          <th *ngIf="trav" mat-sort-header="elec.elecTrav.btNiche">Niche</th>
          <th *ngIf="trav" mat-sort-header="elec.elecTrav.ok">ok</th>
          <th  mat-sort-header="elec.poseCompteur">P. Compteur</th>
        </tr>
        <tr *ngFor="let site of dataSource">
          <td>
            <button mat-button class="monbutton" [matMenuTriggerFor]="lvl1">{{site.codeSite}}</button>
            <mat-menu #lvl1="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="lvl12">Modifier</button>
              <button mat-menu-item>Détails</button>
              <button mat-menu-item>Google Maps</button>
              <button mat-menu-item [matMenuTriggerFor]="lvl2">Naviguer</button>
            </mat-menu>
            <mat-menu #lvl2="matMenu">

              <button mat-menu-item>Electrification</button>
              <button mat-menu-item>Radio</button>
              <button mat-menu-item>Transmission</button>
            </mat-menu>
            <mat-menu #lvl12="matMenu">
              <button mat-menu-item  (click)="modifier(site.codeSite)">Suivi</button>
              <button mat-menu-item (click)="modifierTrav(site.codeSite)">Travaux</button>
            </mat-menu>
          </td>
          <td>{{site.elec.elecEtat.replace("_encours","")}}</td>
          <td *ngIf="suivi">{{site.dateGo}}</td>
          <td *ngIf="suivi">{{site.typologie}}</td>

          <td *ngIf="suivi">{{site.elec.regie}}</td>
          <td *ngIf="suivi">{{site.elec.numDossier}}</td>
          <td *ngIf="suivi">{{site.cw.etatCw.replace("_encours","")}}</td>

          <td *ngIf="suivi">{{site.cw.finCw}}</td>
          <td *ngIf="date">{{site.elec.depotDemande}}</td>
          <td *ngIf="date">{{site.elec.etude}}</td>
          <td *ngIf="date">{{site.elec.devis}}</td>
          <td *ngIf="date">{{site.elec.payementDevis}}</td>
          <td *ngIf="date">{{site.elec.autorisation}}</td>
          <td *ngIf="date">{{site.elec.debutTravaux}}</td>
          <td *ngIf="date">{{site.elec.finTravaux}}</td>
          <td *ngIf="date">{{site.elec.reception}}</td>
          <td *ngIf="date">{{site.elec.abonnement}}</td>

          <td *ngIf="trav">{{site.elec?.elecTrav?.btA}}</td>
          <td *ngIf="trav">{{site.elec?.elecTrav?.btS}}</td>
          <td *ngIf="trav">{{site.elec?.elecTrav?.btSRf}}</td>
          <td *ngIf="trav">{{site.elec?.elecTrav?.btNiche}}</td>
          <td *ngIf="trav">{{site.elec?.elecTrav?.ok}}</td>
          <td >{{site.elec.poseCompteur}}</td>



        </tr>
      </table>
    </div>

    <div>
      <mat-paginator (page)="page($event)" [length]="length" [pageSizeOptions]="[15, 30, 50,100]"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
