<form #goForm="ngForm" (ngSubmit)="afficher(goForm.value)" class="d-flex justify-content-center" style="margin-top: 100px">
<div class="d-flex flex-column" style="width: 30%">
  <mat-form-field>
    <input matInput placeholder="Code site" ngModel name="codeSite" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Date Go" [matDatepicker]="picker" ngModel name="dateGo" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Typologie" ngModel name="typologie" required>
      <mat-option value="Lampadaire" >Lampadaire</mat-option>
      <mat-option value="LampadaireEsth">Lampadaire Esthétique</mat-option>
      <mat-option value="RT">Rooftop</mat-option>
      <mat-option value="Palmier">Palmier</mat-option>
      <mat-option value="GF">Greenfield</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Hauteur" ngModel type="number" name="hauteur" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Région" ngModel type="text" name="region" required>
      <mat-option value="Casablanca" >Casablanca</mat-option>
      <mat-option value="Rabat">Rabat</mat-option>
      <mat-option value="Agadir">Agadir</mat-option>
      <mat-option value="Meknes">Meknes</mat-option>
      <mat-option value="Tanger">Tanger</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Latitude" ngModel type="number" name="latitude" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Longitude" ngModel type="number" name="longitude" required>
  </mat-form-field>
  <div class="d-flex justify-content-around">
  <button mat-raised-button [disabled]="goForm.invalid" type="submit" style="width: 110%">Ajouter</button>
    <button mat-raised-button style="width: 110%">Retour</button>
  </div>
</div>
</form>

