.active{
  background-color: lightgrey ;
}
button{
  text-align:center; vertical-align:middle;
  height: 40px;
  font-weight: bold;
  margin-right: 10px;
}
th{

  font-size: 15px;
  font-weight:bold;


}
td{
}
mat-form-field{
  margin-right: 10px;
}

mat-slide-toggle{
  margin-left: 15px;
}
