<mat-toolbar class="d-flex">

  <div>
  <button mat-button routerLink="go" routerLinkActive="active">Go</button>
  <button mat-button routerLink="cw" routerLinkActive="active">CW</button>
  <button mat-button routerLink="elec" routerLinkActive="active">Electrification</button>
  <button mat-button routerLink="oneshot" routerLinkActive="active">Radio</button>
  <button mat-button>Transmission</button>
  </div>
  <button mat-button>Carte des sites</button>



</mat-toolbar>

<router-outlet></router-outlet>


