<div class="d-flex justify-content-center" style="margin-top: 30px">
  <h3>Electrification :<span></span> {{elecSuivi.codeSite}}</h3>
</div>
<div class="d-flex " style="margin-top: 10px">
  <div class="col-1"></div>
  <form class="d-flex justify-content-center col-10" #myForm="ngForm" (ngSubmit)="modifier()">
    <div class="d-flex flex-column col-4">

      <mat-form-field>
        <mat-select placeholder="Etat elec" name="elecEtat" [(ngModel)]="elecSuivi.elecEtat" required>
          <mat-option value="00-Att demande_encours">00-Att demande</mat-option>
          <mat-option value="01-Att sortie_encours">01-Att sortie</mat-option>
          <mat-option value="02-Att devis_encours">02-Att devis</mat-option>
          <mat-option value="03-Att payement_encours">03-Att payement</mat-option>
          <mat-option value="04-Att autorisation_encours">04-Att autorisation</mat-option>
          <mat-option value="05-Att travaux_encours">05-Att travaux</mat-option>
          <mat-option value="06-Att fin travaux_encours">06-Att fin travaux</mat-option>
          <mat-option value="07-Att réception_encours">07-Att reception</mat-option>
          <mat-option value="08-Att abonnement_encours">08-Att abonnement</mat-option>
          <mat-option value="09-Att pose compteur_encours">09-Att pose compteur</mat-option>
          <mat-option value="EE-Electrifié">EE-Electrifié</mat-option>
          <mat-option value="XX-Bloqué Elec">XX-Bloqué Elec</mat-option>
          <mat-option value="WW-Bloqué CW">XX-Bloqué CW</mat-option>
          <mat-option value="TT-Temporisé">TT-Temporisé</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="Régie" name="regie" [(ngModel)]="elecSuivi.regie">
          <mat-option value="ONEE">ONEE</mat-option>
          <mat-option value="AMENDIS">AMENDIS</mat-option>
          <mat-option value="Lydec/AinChock">Lydec/AinChock</mat-option>
          <mat-option value="Lydec/AinSbaa">Lydec/AinSbaa</mat-option>
          <mat-option value="Lydec/Anfa">Lydec/Anfa</mat-option>
          <mat-option value="Lydec/Bernoussi">Lydec/Bernoussi</mat-option>
          <mat-option value="Lydec/OuledZiane">Lydec/OuldedZiane</mat-option>
          <mat-option value="RADEEF">RADEEF</mat-option>
          <mat-option value="RADEEJ">RADEEJ</mat-option>
          <mat-option value="RADEEL">RADEEL</mat-option>
          <mat-option value="RAK">RAK</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="N de dossier" name="ndossier" [(ngModel)]="elecSuivi.numDossier">
      </mat-form-field>
      <mat-form-field>
        <textarea rows="6" matInput placeholder="Commentaires" name="elecCommentaires"
                  [(ngModel)]="elecSuivi.elecCommentaires"></textarea>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column  col-3" >
      <mat-form-field>
        <input matInput placeholder="Dépôt demande" [matDatepicker]="picker" bsDatepicker
               name="depotDemande" [(ngModel)]="elecSuivi.depotDemande">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sortie d'étude" [matDatepicker]="picker1" bsDatepicker
               name="etude" [(ngModel)]="elecSuivi.etude">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Devis" [matDatepicker]="picker2" bsDatepicker
               name="devis" [(ngModel)]="elecSuivi.devis">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Payement devis" [matDatepicker]="picker3" bsDatepicker
               name="payementDevis" [(ngModel)]="elecSuivi.payementDevis">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Autorisation" [matDatepicker]="picker4" bsDatepicker
               name="autorisation" [(ngModel)]="elecSuivi.autorisation">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
      <div style="margin-top:10px ;" class="d-flex justify-content-center">
        <button mat-raised-button color="primary" class="col-5" type="submit">Modifier</button>
        <button mat-raised-button color="primary" class="col-5" (click)="retour()">Retour</button>
      </div>
    </div>
    <div class="d-flex flex-column  col-3" >
      <mat-form-field>
        <input matInput placeholder="Début travaux" [matDatepicker]="picker5" bsDatepicker
               name="debutTravaux" [(ngModel)]="elecSuivi.debutTravaux">
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Fin travaux" [matDatepicker]="picker6" bsDatepicker
               name="finTravaux" [(ngModel)]="elecSuivi.finTravaux">
        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
        <mat-datepicker #picker6></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Réception" [matDatepicker]="picker7" bsDatepicker
               name="reception" [(ngModel)]="elecSuivi.reception">
        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
        <mat-datepicker #picker7></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Abonnement" [matDatepicker]="picker8" bsDatepicker
               name="abonnement" [(ngModel)]="elecSuivi.abonnement">
        <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
        <mat-datepicker #picker8></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pose compteur" [matDatepicker]="picker9" bsDatepicker
               name="poseCompteur" [(ngModel)]="elecSuivi.poseCompteur">
        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
        <mat-datepicker #picker9></mat-datepicker>
      </mat-form-field>
    </div>

  </form>
</div>
<div style="margin-top: 20px">
  <app-naviguer ></app-naviguer>
</div>
