<form #myForm="ngForm">
  <div>
    <mat-form-field>
      <input matInput placeholder="Code Site" [(ngModel)]="cw.codeSite" name="codeSite">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Etat Cw" [(ngModel)]="cw.etatCw" name="etatCw">
      <mat-option value="00-Attente OC">00-Attente OC</mat-option>
      <mat-option value="01-Attente fouilles">01-Attente fouilles</mat-option>
      <mat-option value="02-Attente coulage">02-Attente coulage</mat-option>
      <mat-option value="03-Attente montage">03-Attente montage</mat-option>
      <mat-option value="04-Attente fin CW">04-Attente fin CW</mat-option>
      <mat-option value="XX-Bloqué">XX-Bloqué</mat-option>
      <mat-option value="ZZ-Cw non SBI">ZZ-CW non SBI</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Equipe" [(ngModel)]="cw.equipeCw" name="equipeCw">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Etat Cw" [(ngModel)]="cw.commentairesCw" name="commentairesCw"></textarea>
    </mat-form-field>
  </div>

 <!-- <mat-form-field>
  <input matInput placeholder="Ouverture" [matDatepicker]="picker" bsDatepicker [(ngModel)]="cw.ouverture" name="ouverture"  >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fouilles" [matDatepicker]="picker" bsDatepicker [(ngModel)]="cw.fouilles" name="fouilles"  >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
-->
</form>



<!--

ouverture:string;
fouilles:string;
coulage:string;
montage:string;
finCw:string;-->
