/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

* {
  outline: none!important;
}


th{
  font-size: 15px;
  font-weight:bold;
  margin: auto;
}

h3{
  font-size: 16px;
}
